body, html {
  background: url('img/footer_lodyas.png');
  /* background-color: #343; */
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(0,0,0,0);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-right { margin-right: 0px !important}
.log {
  margin: 5px 10px 0 0;
}

.navbar-default {
  background-color: #222;
  color: white;
  border: 0;
  border-radius: 20px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #DDD;
}

.dropdown, .dropdown:active, .dropdown:focus {
  background: none;
  border: none;
  color: white;
  padding-top: 0.4em;
}

.dropdown:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background-color: rgba(0,0,0,0.25);
  border: none;
  color: white;
  padding-top: 0.4em;
}

.navbar-right .dropdown-menu {
  background-color: #333;
}

.dropdown-menu>li>a {
  color: white;
}

.underline {
  text-decoration: underline;
}

.panel {
  background: #111;
  border-radius: 20px;
}

.panel-heading {
  border-radius: 19px 19px 0px 0px;
}

.align-right {
  text-align: right;
}

td > a {
  color: white;
}

td > a:hover {
  color: #ddd;
  text-decoration: underline;
}

td.dkp-bad > a {
  color: red;
}

td.dkp-bad > a:hover {
  color: red;
  text-decoration: underline;
}

.panel-success > .panel-heading {
  background-color: #39a20e;
  border-color: #39a20e;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.panel-heading {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.panel-success {
  border-color: #39a20e;
}

.rounded-corner {
  border-radius: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    vertical-align: middle;
}



div.col-sm-3 > ul > li > a {
  color: white;
  border-radius: 20px;
}

div.col-sm-3 > ul > li > a:hover {
  background-color: #2d6290;
}

.form-control {
  background-color: #222;
  color:white;
  border-radius: 20px;
}

.no-border {
  border: none;
}

.news-item {
  padding-left: 2em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.news-item:not(:first-child) {
  border-top: 1px solid white;
  margin-top: 1em;
}

.news-title {
  font-weight: bold;
}

.move-that-shit {
  position: relative;
  top: -150px;
}

.react-mde, .mde-header ul.mde-header-group li.mde-header-item ul.react-mde-dropdown {
  background-color: #222 !important;
  color: white;
}

#ta1 {
  background-color:#333;
  color: white;
}

.success-visible {
  transition: opacity 0.5s;
  opacity: 1;
}
.success-hidden {
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events:none;
}
